$colors: (
    common: (
        white: #ffffff,
        black: #292930,
        blue:#82CEFD,
        pink:#FFADAD,
        dpink:#FD346E,
        paste:#1EE2CF,
    ),
    heading: (
        primary: #292930,
    ),
    grey: (
        1:#F7F8FD,
        2:#f8f8f8,

    ),
    text: (
        body:#8A90A2,
        p:#8A90A2,
    ),
    theme: (
        1: #f3f1e2,
        2: #382e06,
        primary: #131002,
        secondary: #997112,

    ),
    border: (
        1: #E8ECF2,
    )
);

